* {
  margin: 0%;
  padding: 0%;
  border: 0%;
  list-style: none;
  font-family: "Roboto";
  font-weight: 400;
  border-radius: 15px;
}
.banner {
  width: 50%;
  display: flex;
  margin: 5% auto 5% auto;
}
.nav {
  display: flex;
  background-color: rgb(52, 77, 52);
  margin: 5% auto 5% auto;
  width: 80%;
  height: 10vh;
}
.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.navbarItem {
  font-size: 180%;
  font-weight: 800;
  color: white;
  align-items: center;
  justify-content: center;
}
.pastaImg {
  display: flex;
  position: relative;
  z-index: 0;
  margin: auto;
  width: 80%;
  height: 40vh;
  object-fit: cover;
}
.pastaoverlayText {
  z-index: 100;
  position: absolute;
  top: 0;
}
